.product-card {
    width: 250px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #DB4444;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 2;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    height: auto;
    display: block;
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.add-to-cart {
    background-color: black;
    padding: 12px;
    color: white;
}

.add-to-cart button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.product-info {
    padding: 16px;
}

.product-info h3 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
}

.price {
    font-size: 16px;
}

.current-price {
    color: #DB4444;
    font-weight: 700;
    margin-right: 10px;
}

.original-price {
    color: #b3b3b3;
    text-decoration: line-through;
}
